.signin {
    
    text-align: center
}
.voyago-title {
    font-size: 20px !important;
}
.writeup {
    font-size : 14px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .background-shadow {
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 9%, rgba(192,226,247,1) 30%, rgba(169,210,238,1) 77%, rgba(219,245,255,1) 91%);  

}